.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
  
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* left: 25px; */
    background-color: rgb(121, 18, 162);
    position: absolute;
    cursor: pointer;
}
.fa-sun{
    color: rgb(43, 0, 60);
}
.fa-moon{
    color: rgb(29, 29, 130);
}